@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Rubik";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Rubik";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1182px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 10px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 120px 0 0;
}

.header__container .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header__container .menu .menu__list .menu__item .menu__link {
  font-size: 18px;
  color: #000;
}

.header__container .btn-log {
  width: 96px;
  height: 40px;
  background: #19BCE4;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url("/img/house.jpg") no-repeat;
  width: 1440px;
  height: 700px;
  margin: 0 auto;
}

.main .main__container {
  text-align: center;
}

.main .main__container .main__title {
  font-weight: bold;
  font-size: 64px;
  color: white;
  margin-top: 190px;
}

.main .main__container .main__paragraph {
  font-size: 20px;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  margin: 0 auto;
  margin-top: 30px;
  width: 622px;
}

.main .main__container .search {
  min-width: 100%;
  background-color: white;
  min-height: 118px;
  margin-top: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .main__container .search .search__input {
  border: 0.5px solid #BAEBF7;
  width: 259px;
  height: 70px;
  background-color: white;
}

.main .main__container .search .search__btn {
  width: 259px;
  height: 70px;
  background: #19BCE4;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.about-us {
  padding: 75px 0 165px 0;
}

.about-us .about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .about-us__container .about-us__image .about-us__divan {
  position: absolute;
  height: 160px;
  width: 240px;
  margin-top: 446px;
  margin-left: -202px;
}

.about-us .about-us__container .about-us__block-text {
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us .about-us__container .about-us__block-text .text .text__about {
  font-size: 20px;
}

.about-us .about-us__container .about-us__block-text .text h3 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
  margin-top: 10px;
}

.about-us .about-us__container .about-us__block-text .text .text__paragraph {
  font-size: 20px;
  color: #555555;
  margin-top: 24px;
  width: 479px;
  line-height: 27px;
}

.about-us .about-us__container .about-us__block-text .about-us__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us .about-us__container .about-us__block-text .about-us__icons div h3 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
}

.about-us .about-us__container .about-us__block-text .about-us__icons div p {
  font-size: 14px;
  color: #555555;
  width: 229px;
  margin-top: 16px;
}

.about-us .about-us__container .about-us__block-text button {
  height: 56px;
  width: 169px;
  background-color: #19BCE4;
  color: #FFFFFF;
  border-radius: 6px;
  font-size: 18px;
}

.looking-for {
  background: #F8FDFE;
  padding: 120px 0 165px 0;
}

.looking-for .looking-for__container h3 {
  font-size: 48px;
  font-weight: bold;
}

.looking-for .looking-for__container .looking-for__block {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.looking-for .looking-for__container .looking-for__block .looking-for__plus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.looking-for .looking-for__container .looking-for__block .looking-for__plus .plus {
  height: 118px;
  width: 541px;
  background-color: white;
  border: rgba(25, 188, 228, 0.2) solid 1px;
}

.looking-for .looking-for__container .looking-for__block .looking-for__plus .plus__block {
  padding: 28px 0 34px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.looking-for .looking-for__container .looking-for__block .looking-for__plus .plus__block .plus__block-text {
  margin-left: 28px;
}

.looking-for .looking-for__container .looking-for__block .looking-for__plus .plus__block .plus__block-text h4 {
  font-size: 20px;
  font-weight: 500;
}

.looking-for .looking-for__container .looking-for__block .looking-for__plus .plus__block .plus__block-text p {
  width: 370px;
  color: #555555;
  font-size: 14px;
  line-height: 20px;
  margin-top: 7px;
}

.popular-places {
  padding: 120px 0 120px 0;
}

.popular-places .popular-places__container .popular-places__text h3 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.popular-places .popular-places__container .popular-places__text p {
  margin-top: 24px;
  color: #555555;
  font-size: 20px;
  text-align: center;
}

.popular-places .popular-places__container .popular-places__img {
  height: 540px;
  margin-top: 44px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.popular-places .popular-places__container .popular-places__img .block1 {
  background-image: url("/img/bankladesh.jpg");
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.popular-places .popular-places__container .popular-places__img .block2 {
  background: url("/img/japan.jpg");
}

.popular-places .popular-places__container .popular-places__img .block3 {
  background: url("/img/malaysia.jpg");
}

.popular-places .popular-places__container .popular-places__img .block4 {
  background: url("/img/london.jpg");
}

.popular-places .popular-places__container .popular-places__img .block5 {
  background: url("/img/india.jpg");
}

.choose-us {
  background-color: #F8FDFE;
}

.choose-us .choose-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose-us .choose-us__container .choose-us__text {
  margin-top: 93px;
}

.choose-us .choose-us__container .choose-us__text h3 {
  font-size: 48px;
  font-weight: bold;
}

.choose-us .choose-us__container .choose-us__text p {
  margin-top: 20px;
  width: 596px;
  line-height: 30px;
  color: #555555;
  font-size: 18px;
}

.choose-us .choose-us__container .choose-us__text button {
  height: 56px;
  width: 190px;
  background-color: #19BCE4;
  color: #FFFFFF;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choose-us .choose-us__container .choose-us__text button img {
  margin-left: 12px;
}

.choose-us .choose-us__container .choose-us__img {
  margin-left: 36px;
}

.people-say {
  background-color: #FFF8F7;
  padding: 96px 0 97px 0;
}

.people-say .people-say__container .people-say__text h3 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.people-say .people-say__container .people-say__text p {
  margin-top: 24px;
  color: #555555;
  font-size: 20px;
  text-align: center;
}

.people-say .people-say__container .people-say__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people-say .people-say__container .people-say__profile .people-say__block {
  height: 280px;
  width: 370px;
  background-color: white;
  margin-top: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.people-say .people-say__container .people-say__profile .people-say__block .photo {
  margin-top: -72px;
}

.people-say .people-say__container .people-say__profile .people-say__block h3 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
}

.people-say .people-say__container .people-say__profile .people-say__block .people-say__stars {
  margin-top: 8px;
}

.people-say .people-say__container .people-say__profile .people-say__block p {
  width: 293px;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
  text-align: center;
  margin-top: 16px;
}

.white-block {
  height: 294px;
  background-color: white;
}

.footer {
  background-color: #F8FDFE;
  height: 491px;
}

.footer .footer__container .footer__down {
  margin-top: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__container .footer__down .footer__column .footer__text {
  width: 329px;
  font-size: 18px;
  color: #555555;
  line-height: 27px;
  margin-top: 20px;
}

.footer .footer__container .footer__down .footer__column .footer__icons {
  margin-top: 37px;
  width: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__container .footer__down .footer__column h3 {
  font-size: 24px;
  font-weight: 500;
}

.footer .footer__container .footer__down .footer__column ul {
  margin-top: 40px;
}

.footer .footer__container .footer__down .footer__column ul li {
  font-size: 18px;
  color: #555555;
  margin-top: 15px;
}

.footer .footer__container .footer__down .footer__column ul li p {
  display: inline;
  margin-left: 5px;
}

.footer .footer__container .footer__subscribe {
  height: 251px;
  border-radius: 24px;
  background-color: #19BCE4;
  margin-top: -174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__container .footer__subscribe h3 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin-top: 48px;
}

.footer .footer__container .footer__subscribe form {
  position: relative;
  margin-top: 40px;
}

.footer .footer__container .footer__subscribe form input {
  width: 720px;
  height: 64px;
  border-radius: 6px;
  display: block;
  padding: 0 1.5em;
  color: #555555;
}

.footer .footer__container .footer__subscribe form input::-webkit-input-placeholder {
  opacity: 1;
}

.footer .footer__container .footer__subscribe form input:-ms-input-placeholder {
  opacity: 1;
}

.footer .footer__container .footer__subscribe form input::-ms-input-placeholder {
  opacity: 1;
}

.footer .footer__container .footer__subscribe form input::placeholder {
  opacity: 1;
}

.footer .footer__container .footer__subscribe form button {
  position: absolute;
  height: 48px;
  width: 120px;
  border-radius: 6px;
  background-color: #19BCE4;
  color: white;
  font-size: 18px;
  top: 8px;
  right: 8px;
}
/*# sourceMappingURL=style.css.map */