@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

aside, nav, footer, header, section {
  display: block;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000;
}

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Rubik";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

@media (max-width: 767.98px) {
  body.lock {
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}

input, button, textarea {
  font-family: "Rubik";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1182px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: none;
    padding: 0 10px;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 120px 0 0;
}

.header__container .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header__container .menu .menu__list .menu__item .menu__link {
  font-size: 18px;
  color: #000;
}

.header__container .btn-log {
  width: 96px;
  height: 40px;
  background: #19BCE4;
  border-radius: 6px;
  color: white;
  font-size: 16px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: url("/img/house.jpg") no-repeat;
  width: 1440px;
  height: 700px;
  margin: 0 auto;
}

.main .main__container {
  text-align: center;
}

.main .main__container .main__title {
  font-weight: bold;
  font-size: 64px;
  color: white;
  margin-top: 190px;
}

.main .main__container .main__paragraph {
  font-size: 20px;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  margin: 0 auto;
  margin-top: 30px;
  width: 622px;
}

.main .main__container .search {
  min-width: 100%;
  background-color: white;
  min-height: 118px;
  margin-top: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .main__container .search .search__input {
  border: 0.5px solid #BAEBF7;
  width: 259px;
  height: 70px;
  background-color: white;
}

.main .main__container .search .search__btn {
  width: 259px;
  height: 70px;
  background: #19BCE4;
  color: white;
  font-weight: 500;
  font-size: 20px;
}

.looking-for {
  background: #F8FDFE;
  padding: 75px 0 75px 0;
}

.popular-places {
  padding: 120px 0 120px 0;
}

.popular-places .popular-places__container .popular-places__text h3 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.popular-places .popular-places__container .popular-places__text p {
  margin-top: 20px;
  color: #555555;
  font-size: 20px;
  text-align: center;
}

.popular-places .popular-places__container .popular-places__img {
  height: 540px;
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.popular-places .popular-places__container .popular-places__img .block1 {
  background-image: url("/img/bankladesh.jpg");
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.popular-places .popular-places__container .popular-places__img .block2 {
  background: url("/img/japan.jpg");
}

.popular-places .popular-places__container .popular-places__img .block3 {
  background: url("/img/malaysia.jpg");
}

.popular-places .popular-places__container .popular-places__img .block4 {
  background: url("/img/london.jpg");
}

.popular-places .popular-places__container .popular-places__img .block5 {
  background: url("/img/india.jpg");
}

.choose-us {
  background-color: #F8FDFE;
}

.choose-us .choose-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.choose-us .choose-us__container .choose-us__text {
  margin-top: 93px;
}

.choose-us .choose-us__container .choose-us__text h3 {
  font-size: 48px;
  font-weight: bold;
}

.choose-us .choose-us__container .choose-us__text p {
  margin-top: 20px;
  width: 596px;
  line-height: 30px;
  color: #555555;
  font-size: 18px;
}

.choose-us .choose-us__container .choose-us__text button {
  height: 56px;
  width: 190px;
  background-color: #19BCE4;
  color: #FFFFFF;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 40px;
}

.choose-us .choose-us__container .choose-us__img {
  margin-left: 36px;
}

.people-say {
  background-color: #FFF8F7;
  padding: 96px 0 97px 0;
}

.footer {
  background-color: #F8FDFE;
  height: 491px;
}
/*# sourceMappingURL=style.css.map */