// Миксины
@mixin anim($time, $delay) {-webkit-transition: all $time ease $delay; -moz-transition: all $time ease $delay; -ms-transition: all $time ease $delay; -o-transition: all $time ease $delay; transition: all $time ease $delay;}
@mixin anim_cubic ($time, $delay) {-webkit-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay; -moz-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay; -ms-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay; -o-transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay; transition: all $time cubic-bezier(0.68, -0.55, 0.265, 1.55) $delay;}
@mixin rotate ($deg) {-webkit-transform: rotate($deg); -moz-transform: rotate($deg); -ms-transform: rotate($deg); -o-transform: rotate($deg); transform: rotate($deg);}
@mixin scale ($num) {-webkit-transform: scale($num); -moz-transform: scale($num); -ms-transform: scale($num); -o-transform: scale($num); transform: scale($num);}
@mixin skew ($num) {-webkit-transform: skewX($num); -moz-transform: skewX($num); -ms-transform: skewX($num); -o-transform: skewX($num); transform: skewX($num);}
@mixin cnt($h) {display: flex; flex-direction: column; height: $h; text-align: center; align-items: stretch; justify-content: center;}
@mixin tr($x, $y, $z) {transform: translate3d($x, $y, $z);}
@mixin flexbox() {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; font-size: 0;}
@mixin flexorder($val) {-webkit-box-ordinal-group: $val; -moz-box-ordinal-group: $val; -ms-flex-order: $val; -webkit-order: $val; order: $val;}

// Шрифты

// Подключаем шрифты
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

//font-display: swap;

// Шрифт по умолчанию

$fontfamily:"Rubik";

// Переменные

$minwidth: 320px;
$mw: 1170;
$md1: $mw+12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;

// Обнуление, общие параметры

* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
aside, nav, footer, header, section {display: block;}
html, body {height: 100%; margin: 0; padding: 0; min-width: $minwidth; position: relative; width: 100%; color: #000;}
body {font-size: 100%; line-height: 1; font-size: 14px; font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
    &.lock{overflow: hidden;
        @media (max-width:$md3+px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}
input, button, textarea {font-family: $fontfamily;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li{list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-weight: inherit; font-size: inherit;}
//-webkit-overflow-scrolling: touch;
//animation-play-state: paused !important;

// Оболочка

.wrapper {width: 100%; min-height: 100%; overflow: hidden; display: flex; flex-direction: column;
    &.loaded{}
}

// Основная сетка

[class*="__container"] {max-width: $mw+px; margin: 0 auto; width: 100%;
    @media (max-width:$md1+px) {max-width: 970px;}
    @media (max-width:$md2+px) {max-width: 750px;}
    @media (max-width:$md3+px) {max-width: none; padding: 0 10px;}
}

// Подключение файлов, стилей, страниц и элементов
//@import "header.scss";

// Основной блок

.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 130px;
    align-items: center;
    .header__menu {
        flex: 1 1 auto;
    }
    .menu {
        display: flex;
        justify-content: flex-end;
        padding: 0 120px 0 0;
        .menu__list {
            display: flex;
            gap: 40px;
            .menu__item {
                .menu__link {
                    font-size: 18px;
                    color: #000;
                }
            }
        }
    }
    .btn-log {
        width: 96px;
        height: 40px;
        background: #19BCE4;
        border-radius: 6px;
        color: white;
        font-size: 16px;
    }
}

.main {
    flex: 1 1 auto;
    background: url("/img/house.jpg") no-repeat;
    width: 1440px;
    height: 700px;
    margin: 0 auto;
    .main__container {
        text-align: center;
        .main__title {
            font-weight: bold;
            font-size: 64px;
            color: white;
            margin-top: 190px;
        }
        .main__paragraph {
            font-size: 20px;
            font-weight: 400;
            color: white;
            line-height: 1.5;
            margin: 0 auto;
            margin-top: 30px;
            width: 622px;
        }
        .search {
            min-width: 100%;
            background-color: white;
            min-height: 118px;
            margin-top: 98px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .search__input {
                border: 0.5px solid #BAEBF7;
                width: 259px;
                height: 70px;
                background-color: white;
            }
            .search__btn {
                width: 259px;
                height: 70px;
                background: #19BCE4;
                color: white;
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}

.about-us {
    padding: 75px 0 165px 0;
    .about-us__container {
        display: flex;
        .about-us__image {
            .about-us__divan {
                position: absolute;
                height: 160px;
                width: 240px;
                margin-top: 446px;
                margin-left: -202px;
            }
        }
        .about-us__block-text {
            margin-left: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .text {
                .text__about {
                    font-size: 20px;
                }
                h3 {
                    font-size: 48px;
                    font-weight: bold;
                    line-height: 60px;
                    margin-top: 10px;
                }
                .text__paragraph {
                    font-size: 20px;
                    color: #555555;
                    margin-top: 24px;
                    width: 479px;
                    line-height: 27px;
                }
            }
            .about-us__icons {
                display: flex;
                justify-content: space-between;
                div {
                    h3 {
                        font-size: 24px;
                        font-weight: 500;
                        margin-top: 24px;
                    }
                    p {
                        font-size: 14px;
                        color: #555555;
                        width: 229px;
                        margin-top: 16px;
                    }
                }
            }
            button {
                height: 56px;
                width: 169px;
                background-color: #19BCE4;
                color: #FFFFFF;
                border-radius: 6px;
                font-size: 18px;
            }
        }
    }
}

.looking-for {
    background: #F8FDFE;
    padding: 120px 0 165px 0;
    .looking-for__container {
        h3 {
            font-size: 48px;
            font-weight: bold;
        }
        .looking-for__block {
            margin-top: 68px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .looking-for__plus {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .plus {
                    height: 118px;
                    width: 541px;
                    background-color: white;
                    border: rgba(25, 188, 228, 0.2) solid 1px;
                }
                .plus__block {
                    padding: 28px 0 34px 24px;
                    display: flex;
                    .plus__block-text {
                        margin-left: 28px;
                        h4 {
                            font-size: 20px;
                            font-weight: 500;
                        }
                        p {
                            width: 370px;
                            color: #555555;
                            font-size: 14px;
                            line-height: 20px;
                            margin-top: 7px;
                        }
                    }
                }
            }
        }
    }
}

// Блок "Most Popular Places"
.popular-places {
    padding: 120px 0 120px 0;
    .popular-places__container {
        .popular-places__text {
            h3 {
                font-size: 48px;
                font-weight: bold;
                text-align: center;
            }
            p {
                margin-top: 24px;
                color: #555555;
                font-size: 20px;
                text-align: center;
            }
        }
        .popular-places__img {
            height: 540px;
            margin-top: 44px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 30px;
            .block1 {
                background-image: url("/img/bankladesh.jpg");
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            .block2 {
                background: url("/img/japan.jpg");
            }
            .block3 {
                background: url("/img/malaysia.jpg");
            }
            .block4 {
                background: url("/img/london.jpg");
            }
            .block5 {
                background: url("/img/india.jpg");
            }
        }
    }
}

// Блок "Who Choose Us?"
.choose-us {
    background-color: #F8FDFE;
    .choose-us__container {
        display: flex;
        .choose-us__text {
            margin-top: 93px;
            h3 {
                font-size: 48px;
                font-weight: bold;
            }
            p {
                margin-top: 20px;
                width: 596px;
                line-height: 30px;
                color: #555555;
                font-size: 18px;
            }
            button {
                height: 56px;
                width: 190px;
                background-color: #19BCE4;
                color: #FFFFFF;
                border-radius: 6px;
                font-size: 18px;
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    margin-left: 12px
                }
            }
        }

        .choose-us__img {
            margin-left: 36px;
        }
    }
}

// Блок "What People Say"
.people-say {
    background-color: #FFF8F7;
    padding: 96px 0 97px 0;
    .people-say__container {
        .people-say__text {
            h3 {
                font-size: 48px;
                font-weight: bold;
                text-align: center;
            }
            p {
                margin-top: 24px;
                color: #555555;
                font-size: 20px;
                text-align: center;
            }
        }
        .people-say__profile {
            display: flex;
            justify-content: space-between;
            .people-say__block {
                height: 280px;
                width: 370px;
                background-color: white;
                margin-top: 132px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .photo {
                    margin-top: -72px;
                }
                h3 {
                    font-size: 24px;
                    font-weight: 500;
                    margin-top: 16px;
                }
                .people-say__stars {
                    margin-top: 8px;
                }
                p {
                    width: 293px;
                    font-size: 14px;
                    color: #555555;
                    line-height: 20px;
                    text-align: center;
                    margin-top: 16px;
                }
            }
        }
    }
}

.white-block{
    height: 294px;
    background-color: white;
}


.footer {
    background-color: #F8FDFE;
    height: 491px;
    .footer__container {
        .footer__down {
            margin-top: 112px;
            display: flex;
            justify-content: space-between;
            .footer__column {
                .footer__text {
                    width: 329px;
                    font-size: 18px;
                    color: #555555;
                    line-height: 27px;
                    margin-top: 20px;
                }
                .footer__icons {
                    margin-top: 37px;
                    width: 144px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                h3 {
                    font-size: 24px;
                    font-weight: 500;
                }
                ul {
                    margin-top: 40px;
                    li {
                        font-size: 18px;
                        color: #555555;
                        margin-top: 15px;
                        p {
                            display: inline;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .footer__subscribe{
            height: 251px;
            border-radius: 24px;
            background-color: #19BCE4;
            margin-top: -174px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h3 {
                font-size: 40px;
                font-weight: bold;
                color: white;
                margin-top: 48px;
            }
            form {
                position: relative;
                margin-top: 40px;
                input {
                    width: 720px;
                    height: 64px;
                    border-radius: 6px;
                    display: block;
                    padding: 0 1.5em;
                    color: #555555;
                }
                input::placeholder {
                   opacity: 1;
                }
                button {
                    position: absolute;
                    height: 48px;
                    width: 120px;
                    border-radius: 6px;
                    background-color: #19BCE4;
                    color: white;
                    font-size: 18px;
                    top: 8px;
                    right: 8px;
                }
            }
        }
    }
}

// Подключение файлов UI стилей, форм и готовых классов
//@import "forms.scss";
//@import "ui.scss";